<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>API table</title>
    <link rel="stylesheet" href="./font-awesome.css">
    <link rel="stylesheet" href="./index.css">
</head>
<body ng-app="apiTable" ng-controller="mainController">
    <div class="list" ng-controller="listController">
        <div class="tab" ng-style="!hasReadAPIFile?{borderBottom: '1px solid #ddd'}:null">
            <div class="tab-item" 
                ng-class="activeTab=='all'?'tab-item-active':null"
                ng-click="toggleTab('all')"
            >API 列表</div>
            <div class="tab-item" 
                ng-class="activeTab=='testing'?'tab-item-active':null"
                ng-click="toggleTab('testing')"
            >调试中(<span ng-bind="testNum"></span>)</div>
        </div>
        <div class="list-content">
            <!--待导入文档时-->
            <div class="get-path" ng-show="!hasReadAPIFile">
                <div class="tip">暂无供调试的API</div>
                <div class="additional-tip">若无API文档，请选择“新建API”创建需调试的API</div>
                <div class="button-group">
                    <div class="button" onclick="document.getElementById('getPath').click()">导入API文档</div>
                    <div class="button" ng-click="showPad()">新建API</div>
                </div>
                <div class="error-tip" ng-show="error">导入非标准API文档，请重新导入</div>
                <input id="getPath" type="file" style="display: none" onchange="angular.element(this).scope().doneGetPath(this.files[0].path)">
            </div>
            <!--已存在API文档-->
            <div class="set-list"  ng-show="hasReadAPIFile">
                <div class="button-item" onclick="document.getElementById('getPath').click()">切换文档</div>
                <div class="button-item" ng-click="showPad()">新建API</div>
                <div class="button-item">清除列表</div>
            </div>
            <!--完整列表-->
            <div class="api-block" ng-repeat="(blockName, block) in APIList" ng-show="hasReadAPIFile && activeTab=='all'">
                <div class="block-name" ng-click="blockToggleDisplay(blockName)"><i class="fa fa-file-text-o"></i><span ng-bind="blockName"></span></div>
                <div class="apis-content" ng-show="block.showDetail">
                    <div class="api-item" 
                        ng-class="selectedAPI==apiName? 'select': null" 
                        ng-repeat="(apiName, api) in block.apis" 
                        ng-click="selectAPI(blockName, apiName)">
                        <span ng-class="'method-'+api.method" ng-bind="api.method"></span>
                        <span ng-bind="apiName"></span>
                    </div>
                </div>
            </div>
            <!--调试列表-->
            <div class="testing-list" ng-show="hasReadAPIFile && activeTab=='testing'">
                <div ng-repeat="(blockName, block) in APIList">
                    <div class="api-item" 
                        ng-class="selectedAPI==apiName? 'select': null" 
                        ng-repeat="(apiName, api) in block.apis" 
                        ng-click="selectAPI(blockName, apiName)" 
                        ng-show="api.debugging==true">
                        <span ng-class="'method-'+api.method" ng-bind="api.method"></span>
                        <span ng-bind="apiName"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="mode-toggle">
            <div class="title">系统工作模式</div>
            <div class="mock" ng-click="modeToggle('mock')">
                <span class="checkbox" ng-class="mode=='mock'?'checkbox-select':null">
                    <div ng-class="mode=='mock'?'checked':null"></div>
                </span>
                mock调试
            </div>
            <div class="proxy" ng-click="modeToggle('proxy')">
                <span class="checkbox" ng-class="mode=='proxy'?'checkbox-select':null">
                    <div ng-class="mode=='proxy'?'checked':null"></div>
                </span>
                代理模式
                <input type="text" class="server" 
                    ng-disabled="mode=='proxy'?false:true" 
                    ng-change="setGlobalServer()"
                    ng-model="server" placeholder="192.168.199.12:8080">
            </div>
        </div>
        <div class="create-pad" ng-show="showCreatePad">
            <div class="pad">
                <div class="top">
                    <span class="title"><i class="fa fa-list-ul"></i>新建API</span>
                    <i class="fa fa-close" ng-click="hidePad()"></i>
                </div>
                <div class="name">URL地址： <input type="text" placeholder="/index/itemList" ng-model="createdAPI.name"></div>
                <div class="req-method">请求方式： &nbsp;
                    <span style="display: flex; align-items: center; cursor: pointer" ng-click="toggleMthod('GET')">
                        <span class="checkbox" ng-class="createdAPI.method=='GET'?'checkbox-select':null">
                            <div ng-class="createdAPI.method=='GET'?'checked':null"></div>
                        </span>
                        <span style="margin-right: 68px; font-weight: bold; color: #666">GET</span>
                    </span>
                    <span style="display: flex; align-items: center; cursor: pointer" ng-click="toggleMthod('POST')">
                        <span class="checkbox" ng-class="createdAPI.method=='POST'?'checkbox-select':null">
                            <div ng-class="createdAPI.method=='POST'?'checked':null"></div>
                        </span>
                        <span style="font-weight: bold; color: #666">POST</span>
                    </span>
                </div>
                <div class="tip">
                    * 新建的API将被添加到调试列表，对于来访的其他未在调试列表中的API，将根据全局模式指定的服务器进行代理转发
                </div>
                <button class="create-button" ng-click="createAPI()">确认创建</button>
            </div>
        </div>
    </div>
    <div class="control-pad" ng-controller="controlPadController">
        <div class="api-view" ng-show="selectAPI">
            <div class="top">
                <span class="title" ng-class="'title-'+selectAPI.method">
                    <span class="method" ng-bind="selectAPI.method"></span>
                    <span class="api-name" ng-bind="selectAPI.name"></span>
                </span>
                <button class="toggle-test" ng-class="selectAPI.debugging? 'testing': null" 
                    ng-click="toggleTest()" ng-bind="selectAPI.debugging? '关闭调试':'标记为调试中'">
                </button>
            </div>
            <div class="test-mode">
                <div class="title">调试模式：</div>
                <div class="front-end" ng-click="testModeToggle('frontEnd')">
                    <span class="checkbox" ng-class="selectAPI.testMode=='frontEnd'?'checkbox-select':null">
                        <div ng-class="selectAPI.testMode=='frontEnd'?'checked':null"></div>
                    </span>
                    调试前端（返回mock数据）
                </div>
                <div class="back-end" ng-click="testModeToggle('bakcEnd')">
                    <span class="checkbox" ng-class="selectAPI.testMode=='bakcEnd'?'checkbox-select':null">
                        <div ng-class="selectAPI.testMode=='bakcEnd'?'checked':null"></div>
                    </span>
                    调试后端（发送请求到指定服务器）
                    <input ng-disabled="selectAPI.testMode=='bakcEnd'?false:true" ng-blur="setAPIServer()" ng-model="selectAPI.server" type="text" class="server" placeholder="192.168.199.12:8080">
                </div>
            </div>
            <div class="request">
                <div class="menu">
                    <div class="left">
                        <div class="title">请求体<i class="fa fa-angle-down"></i></div>
                        <div class="tip" ng-show="selectAPI.testMode=='frontEnd'">以下统一用 JSON 表示请求体，在发送实际请求时会按需求自动转为相应的请求格式</div>
                        <div class="format-select" ng-show="selectAPI.testMode=='bakcEnd'">
                            <span class="text">发送格式</span>
                            <div ng-click="selectRequestFormat('query')">
                                <span class="checkbox" ng-class="selectAPI.sendFormat=='query'?'checkbox-select':null">
                                    <div ng-class="selectAPI.sendFormat=='query'?'checked':null"></div>
                                </span>
                                <span class="text">QUERY</span>
                            </div>
                            <div ng-click="selectRequestFormat('bodyJson')">
                                <span class="checkbox" ng-class="selectAPI.sendFormat=='bodyJson'?'checkbox-select':null">
                                    <div ng-class="selectAPI.sendFormat=='bodyJson'?'checked':null"></div>
                                </span>
                                <span class="text">BODY-JSON</span>
                            </div>
                            <div ng-click="selectRequestFormat('bodyHtmlform')">
                                <span class="checkbox" ng-class="selectAPI.sendFormat=='bodyHtmlform'?'checkbox-select':null">
                                    <div ng-class="selectAPI.sendFormat=='bodyHtmlform'?'checked':null"></div>
                                </span>
                                <span class="text">BODY-HTMLFORM</span>
                            </div>
                        </div>
                    </div>
                    <div class="right">
                        <button class="reset group-reset" ng-show="selectAPI.testMode=='bakcEnd'" ng-click="resetReq()">
                            重置请求
                        </button><button class="confirm" ng-show="selectAPI.testMode=='bakcEnd'" ng-click="sendReq()">
                            发送请求</button>
                    </div>             
                </div>
                <div class="content">
                    <div class="note" ng-show="selectAPI.testMode=='frontEnd'">NOTE：属性键前带有“--error--”，为数据类型错误</div>
                    <div class="note" ng-show="selectAPI.testMode=='bakcEnd'">NOTE：下面统一使用JSON格式来书写请求，系统会自动转化为指定的数据格式进行发送</div>
                    <textarea cols="30" rows="10" 
                        ng-readonly="selectAPI.testMode=='frontEnd'?true:false" 
                        ng-model="req"
                        ng-keyup="toSetNewRequest($event)"></textarea>
                </div>
            </div>
            <div class="answer">
                <div class="menu">
                    <div class="left">
                        <div class="title">响应体<i class="fa fa-angle-down"></i></div>
                        <div class="tip" ng-show="selectAPI.testMode=='frontEnd'">可随时修改，按“ctrl+S”键确认响应mock数据。所做的修改不会写入API文档。</div>
                        <div class="format-select" ng-show="selectAPI.testMode=='bakcEnd'">
                            <span class="text">接收格式</span>
                            <div ng-click="selectAnswerFormat('json')">
                                <span class="checkbox" ng-class="selectAPI.receiveFormat=='json'?'checkbox-select':null">
                                    <div ng-class="selectAPI.receiveFormat=='json'?'checked':null"></div>
                                </span>
                                <span class="text">JSON</span>
                            </div>
                            <div ng-click="selectAnswerFormat('raw')">
                                <span class="checkbox" ng-class="selectAPI.receiveFormat=='raw'?'checkbox-select':null">
                                    <div ng-class="selectAPI.receiveFormat=='raw'?'checked':null"></div>
                                </span>
                                <span class="text">RAW</span>
                            </div>
                            <div ng-click="selectAnswerFormat('webview')">
                                <span class="checkbox" ng-class="selectAPI.receiveFormat=='webview'?'checkbox-select':null">
                                    <div ng-class="selectAPI.receiveFormat=='webview'?'checked':null"></div>
                                </span>
                                <span class="text">WEBVIEW</span>
                            </div>
                        </div>
                    </div>
                    <div class="right">
                        <button class="reset" ng-click="resetRes()" ng-show="selectAPI.testMode=='frontEnd'">重置响应体</button>    
                    </div>             
                </div>
                <div class="content">
                    <textarea cols="34" rows="14" 
                        ng-readonly="selectAPI.testMode=='bakcEnd'?true:false" 
                        ng-model="res"
                        ng-keyup="toSetNewAnswer($event)"></textarea>
                </div>
            </div>
        </div>
        <div class="empty" ng-show="!selectAPI">
            未选择需要调试的API
        </div>
    </div>
    <div class="mention" ng-show="$root.showMention">
        <div class="title" ng-bind="$root.mentionTitle"></div>
        <div class="content" ng-bind="$root.mentionContent"></div>
    </div>
    <script src="./service.js"></script>
    <script src="../build/bundle.js"></script>
</body>
</html>